<div class="tier-list">
    {% for tier, animes in tier_rows %}
        <div class="tier-row tier-row--{{ tier|lower }}">
            <div class="tier-label">
                {{ tier }}
            </div>
            <div class="tier-items">
                {% for anime in animes %}
                    <a href="{% url 'anime_detail' anime.slug %}" class="tier-item{% if anime.is_ongoing %} tier-item--ongoing{% endif %}" title="{{ anime.get_tooltip_text }}">
                        {% include "anime/partials/tier_item_content.html" %}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
