SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=

DB_NAME=anime
DB_USER=anime
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Set to /anime when deployed behind Caddy handle_path /anime/*
# FORCE_SCRIPT_NAME=/anime
# STATIC_URL=/anime/static/
